## 2. Setup and Joining

We assume that all data was reported and recorded correctly, and that no players share the same name and pick.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', None)

In [2]:
player_avgs = pd.read_csv('player_avgs.csv')
nba_combine = pd.read_csv('nba_draft_combine_all_years.csv')

In [3]:
player_avgs.head()

,Rk,Year,Lg,Rd,Pk,Tm,Player,Age,Pos,Born,College,From,To,G,MPG,PPG,RPG,APG,SPG,BPG,FG%,2P%,3P%,FT%,WS,WS/48
0,1,2014,NBA,2,51,NYK,Thanasis Antetokounmpo\antetth01,21.348,F,gr,NaN,2016.0,2020.0,3.0,4.0,2.7,1.0,0.3,0.0,0.0,0.667,0.800,0.000,NaN,0.1,0.304
1,2,2009,NBA,1,3,OKC,James Harden\hardeja01,19.308,G,us,Arizona State,2010.0,2020.0,771.0,34.1,24.4,5.2,6.2,1.5,0.5,0.442,0.507,0.363,0.859,122.5,0.223
2,3,2011,NBA,1,15,IND,Kawhi Leonard\leonaka01,19.364,F,us,San Diego State,2012.0,2020.0,473.0,30.8,17.8,6.3,2.4,1.8,0.7,0.494,0.537,0.383,0.848,66.9,0.220
3,4,2013,NBA,1,27,DEN,Rudy Gobert\goberru01,21.006,C,fr,NaN,2014.0,2020.0,413.0,28.8,11.1,10.6,1.3,0.7,2.2,0.628,0.629,0.000,0.631,53.6,0.216
4,5,2012,NBA,1,1,NOH,Anthony Davis\davisan02,19.114,F-C,us,Kentucky,2013.0,2020.0,472.0,34.6,23.8,10.5,2.1,1.4,2.4,0.516,0.533,0.311,0.797,73.2,0.215

In [4]:
nba_combine.head()

,Unnamed: 0,Player,Year,Draft pick,Height (No Shoes),Height (With Shoes),Wingspan,Standing reach,Vertical (Max),Vertical (Max Reach),Vertical (No Step),Vertical (No Step Reach),Weight,Body Fat,Hand (Length),Hand (Width),Bench,Agility,Sprint
0,0,Blake Griffin,2009,1.0,80.50,82.00,83.25,105.0,35.5,140.5,32.0,137.0,248.0,8.2,NaN,NaN,22.0,10.95,3.28
1,1,Terrence Williams,2009,11.0,77.00,78.25,81.00,103.5,37.0,140.5,30.5,134.0,213.0,5.1,NaN,NaN,9.0,11.15,3.18
2,2,Gerald Henderson,2009,12.0,76.00,77.00,82.25,102.5,35.0,137.5,31.5,134.0,215.0,4.4,NaN,NaN,8.0,11.17,3.14
3,3,Tyler Hansbrough,2009,13.0,80.25,81.50,83.50,106.0,34.0,140.0,27.5,133.5,234.0,8.5,NaN,NaN,18.0,11.12,3.27
4,4,Earl Clark,2009,14.0,80.50,82.25,86.50,109.5,33.0,142.5,28.5,138.0,228.0,5.2,NaN,NaN,5.0,11.17,3.35

We'll rename the `Draft pick` column in `nba_combine` to `Pk`, in order to facilitate joining the two datasets later:

In [5]:
nba_combine.rename(columns = {'Draft pick': 'Pk'}, inplace = True)

Then, we need to clean the players' names in the `player_avgs` dataframe, so that the part after the slash is not included.

In [6]:
player_avgs.Player = [name.split('\\')[0] for name in player_avgs.Player]
player_avgs.Player[0:5]

0    Thanasis Antetokounmpo
1              James Harden
2             Kawhi Leonard
3               Rudy Gobert
4             Anthony Davis
Name: Player, dtype: object

Now, we can merge the two datasets using `pd.merge`. We'll join them based on both player name and which pick they were, since we have a case where two players had the exact same name (Marcus Thornton) but were drafted in different positions. There are no other duplicated names.

In [7]:
combine_careers_raw = pd.merge(nba_combine, player_avgs, on = ['Player', 'Pk'], how = 'inner')
# combine_careers_raw.to_csv('combine_careers.csv')
combine_careers_raw.head()

,Unnamed: 0,Player,Year_x,Pk,Height (No Shoes),Height (With Shoes),Wingspan,Standing reach,Vertical (Max),Vertical (Max Reach),Vertical (No Step),Vertical (No Step Reach),Weight,Body Fat,Hand (Length),Hand (Width),Bench,Agility,Sprint,Rk,Year_y,Lg,Rd,Tm,Age,Pos,Born,College,From,To,G,MPG,PPG,RPG,APG,SPG,BPG,FG%,2P%,3P%,FT%,WS,WS/48
0,0,Blake Griffin,2009,1.0,80.50,82.00,83.25,105.0,35.5,140.5,32.0,137.0,248.0,8.2,NaN,NaN,22.0,10.95,3.28,19,2009,NBA,1,LAC,20.106,F,us,Oklahoma,2011.0,2019.0,604.0,35.0,21.9,9.0,4.5,0.9,0.5,0.502,0.522,0.342,0.692,75.3,0.171
1,1,Terrence Williams,2009,11.0,77.00,78.25,81.00,103.5,37.0,140.5,30.5,134.0,213.0,5.1,NaN,NaN,9.0,11.15,3.18,464,2009,NBA,1,NJN,22.003,F,us,Louisville,2010.0,2013.0,153.0,19.1,7.1,3.6,2.4,0.5,0.1,0.412,0.432,0.317,0.659,-0.2,-0.004
2,2,Gerald Henderson,2009,12.0,76.00,77.00,82.25,102.5,35.0,137.5,31.5,134.0,215.0,4.4,NaN,NaN,8.0,11.17,3.14,258,2009,NBA,1,CHA,21.204,G,us,Duke,2010.0,2017.0,535.0,25.9,11.2,3.2,1.9,0.7,0.3,0.440,0.460,0.327,0.793,18.3,0.063
3,3,Tyler Hansbrough,2009,13.0,80.25,81.50,83.50,106.0,34.0,140.0,27.5,133.5,234.0,8.5,NaN,NaN,18.0,11.12,3.27,58,2009,NBA,1,IND,23.240,F,us,UNC,2010.0,2016.0,428.0,16.9,6.7,4.2,0.4,0.5,0.2,0.439,0.442,0.136,0.738,20.2,0.134
4,4,Earl Clark,2009,14.0,80.50,82.25,86.50,109.5,33.0,142.5,28.5,138.0,228.0,5.2,NaN,NaN,5.0,11.17,3.35,329,2009,NBA,1,PHO,21.165,F,us,Louisville,2010.0,2015.0,261.0,13.9,4.4,3.0,0.5,0.3,0.5,0.403,0.424,0.328,0.664,2.9,0.038

In [8]:
# the duplicated player name is Marcus Thornton
combine_careers_raw.Player.value_counts().head()

Marcus Thornton     2
Khris Middleton     1
Dante Cunningham    1
Jarrett Allen       1
Al-Farouq Aminu     1
Name: Player, dtype: int64

In [9]:
# they were drafted at different picks
# joining on both player name and pick position allows us to avoid cross-product joins
combine_careers_raw[combine_careers_raw.Player == 'Marcus Thornton'][['Player', 'Pk']]

              Player    Pk
30   Marcus Thornton  43.0
281  Marcus Thornton  45.0

## 3. Basic Cleaning

Let's look at the structure of our data. We see below that we have 368 rows and 44 columns, but we have quite a few missing values in several columns. There's also seems to be several redundant columns that could be removed (e.g., `Year_x` and `Year_y`).

In [10]:
combine_careers_raw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 366 entries, 0 to 365
Data columns (total 43 columns):
Unnamed: 0                  366 non-null int64
Player                      366 non-null object
Year_x                      366 non-null int64
Pk                          366 non-null float64
Height (No Shoes)           366 non-null float64
Height (With Shoes)         366 non-null float64
Wingspan                    366 non-null float64
Standing reach              366 non-null float64
Vertical (Max)              317 non-null float64
Vertical (Max Reach)        317 non-null float64
Vertical (No Step)          317 non-null float64
Vertical (No Step Reach)    317 non-null float64
Weight                      365 non-null float64
Body Fat                    365 non-null float64
Hand (Length)               328 non-null float64
Hand (Width)                326 non-null float64
Bench                       209 non-null float64
Agility                     312 non-null float64
Sprint                      315 non-null float64
Rk                          366 non-null int64
Year_y                      366 non-null int64
Lg                          366 non-null object
Rd                          366 non-null int64
Tm                          366 non-null object
Age                         362 non-null float64
Pos                         362 non-null object
Born                        362 non-null object
College                     355 non-null object
From                        348 non-null float64
To                          348 non-null float64
G                           348 non-null float64
MPG                         348 non-null float64
PPG                         348 non-null float64
RPG                         348 non-null float64
APG                         348 non-null float64
SPG                         348 non-null float64
BPG                         348 non-null float64
FG%                         347 non-null float64
2P%                         346 non-null float64
3P%                         324 non-null float64
FT%                         339 non-null float64
WS                          348 non-null float64
WS/48                       348 non-null float64
dtypes: float64(32), int64(5), object(6)
memory usage: 125.8+ KB

#### A. Removing Unnecessary Columns

We immediately notice that the first column is unnecessary, so we can remove it.

In [11]:
combine_careers = combine_careers_raw.copy()
combine_careers.drop('Unnamed: 0', 1, inplace = True)

We also notice that we have two year columns. Are there any discrepancies between the two? The answer is yes:

In [12]:
year_diff = combine_careers[['Year_x', 'Year_y']][combine_careers.Year_x != combine_careers.Year_y]
combine_careers.iloc[year_diff.index][['Player', 'Year_x', 'Year_y']]

                Player  Year_x  Year_y
15        Damion James    2009    2010
33          Gani Lawal    2009    2010
36      Luke Harangody    2009    2010
293     Justin Jackson    2016    2017
300     Caleb Swanigan    2016    2017
304          Josh Hart    2016    2017
326  Jaron Blossomgame    2016    2017

A quick look at these players' NBA combine results shows that `Year_y`  is the correct column (for both [2010](https://www.nbadraft.net/2010-nba-draft-combine-official-measurements/) and [2017](https://www.nbadraft.net/2017-nba-draft-combine-measurements/) draftees). A brief check against the [official NBA Combine data](https://stats.nba.com/draft/combine-anthro/?SeasonYear=2016-17) shows that player statistics are still accurate, with some minor rounding differences. We'll go ahead and delete the `Year_x` column, and rename `Year_y` to `Year`.

In [13]:
combine_careers.drop('Year_x', 1, inplace = True)
combine_careers.rename(columns = {'Year_y': 'Year'}, inplace = True)

Other columns we can delete: `Lg` and `Rd` (which stand for league and draft round, respectively). These are redundant because all players are in the NBA league, and because [draft round is redundant information if we know the draft pick](https://www.nba.com/nba-draft-lottery-explainer) (picks 1-30 are in round 1, and picks 31-60 are in round 2).

In [14]:
# all players are in the NBA
combine_careers.Lg.value_counts()

NBA    366
Name: Lg, dtype: int64

In [15]:
# all picks 1-30 are in Round 1, and all picks 31-60 are in Round 2
combine_careers.groupby(['Rd', 'Pk']).Player.count().unstack()

Pk,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0,12.0,13.0,14.0,15.0,16.0,17.0,18.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0,30.0,31.0,32.0,33.0,34.0,35.0,36.0,37.0,38.0,39.0,40.0,41.0,42.0,43.0,44.0,45.0,46.0,47.0,48.0,49.0,50.0,51.0,52.0,53.0,54.0,55.0,56.0,58.0,59.0,60.0
Rd,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,3.0,6.0,6.0,6.0,5.0,7.0,5.0,8.0,6.0,7.0,7.0,7.0,8.0,9.0,6.0,5.0,7.0,9.0,8.0,6.0,7.0,7.0,7.0,6.0,6.0,6.0,7.0,6.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,6.0,9.0,8.0,6.0,8.0,9.0,7.0,5.0,8.0,8.0,6.0,6.0,8.0,4.0,7.0,6.0,5.0,7.0,4.0,7.0,5.0,3.0,3.0,5.0,4.0,5.0,5.0,2.0

In [16]:
combine_careers.drop(['Lg', 'Rd'], 1, inplace = True)

Let's take a final look at our (relatively clean) dataset. We'll deal with all the missing values next.

In [17]:
combine_careers.shape

(366, 39)

In [18]:
combine_careers.head()

,Player,Pk,Height (No Shoes),Height (With Shoes),Wingspan,Standing reach,Vertical (Max),Vertical (Max Reach),Vertical (No Step),Vertical (No Step Reach),Weight,Body Fat,Hand (Length),Hand (Width),Bench,Agility,Sprint,Rk,Year,Tm,Age,Pos,Born,College,From,To,G,MPG,PPG,RPG,APG,SPG,BPG,FG%,2P%,3P%,FT%,WS,WS/48
0,Blake Griffin,1.0,80.50,82.00,83.25,105.0,35.5,140.5,32.0,137.0,248.0,8.2,NaN,NaN,22.0,10.95,3.28,19,2009,LAC,20.106,F,us,Oklahoma,2011.0,2019.0,604.0,35.0,21.9,9.0,4.5,0.9,0.5,0.502,0.522,0.342,0.692,75.3,0.171
1,Terrence Williams,11.0,77.00,78.25,81.00,103.5,37.0,140.5,30.5,134.0,213.0,5.1,NaN,NaN,9.0,11.15,3.18,464,2009,NJN,22.003,F,us,Louisville,2010.0,2013.0,153.0,19.1,7.1,3.6,2.4,0.5,0.1,0.412,0.432,0.317,0.659,-0.2,-0.004
2,Gerald Henderson,12.0,76.00,77.00,82.25,102.5,35.0,137.5,31.5,134.0,215.0,4.4,NaN,NaN,8.0,11.17,3.14,258,2009,CHA,21.204,G,us,Duke,2010.0,2017.0,535.0,25.9,11.2,3.2,1.9,0.7,0.3,0.440,0.460,0.327,0.793,18.3,0.063
3,Tyler Hansbrough,13.0,80.25,81.50,83.50,106.0,34.0,140.0,27.5,133.5,234.0,8.5,NaN,NaN,18.0,11.12,3.27,58,2009,IND,23.240,F,us,UNC,2010.0,2016.0,428.0,16.9,6.7,4.2,0.4,0.5,0.2,0.439,0.442,0.136,0.738,20.2,0.134
4,Earl Clark,14.0,80.50,82.25,86.50,109.5,33.0,142.5,28.5,138.0,228.0,5.2,NaN,NaN,5.0,11.17,3.35,329,2009,PHO,21.165,F,us,Louisville,2010.0,2015.0,261.0,13.9,4.4,3.0,0.5,0.3,0.5,0.403,0.424,0.328,0.664,2.9,0.038

#### B. Removing Players Who Never Played

We can easily see that there are a number of players who participated in the draft combine, were drafted, but never played a single game.

In [19]:
combine_careers[combine_careers.G.isnull()].Player

34       Jack McClinton
62        Terrico White
70          Tiny Gallon
71        Ryan Richards
76     Stanley Robinson
115         Jon Diebler
163       Marcus Denmon
202      Colton Iverson
204      Deshaun Thomas
228     DeAndre Daniels
241          Alec Brown
246       Xavier Thames
279      Olivier Hanlan
281     Marcus Thornton
284         Aaron White
285        Tyler Harvey
287         J.P. Tokoto
325      Isaiah Cousins
Name: Player, dtype: object

Let's go ahead and delete these rows, since they won't help us learn about how athleticism affects career.

In [20]:
combine_careers = combine_careers[combine_careers.G.notnull()]
# no more players who didn't play any games
len(combine_careers[combine_careers.G.isnull()].Player)

0

In [21]:
combine_careers.shape

(348, 39)

#### C. Simplifying Positions

Players who have in-between positions may be denoted in two different ways (e.g., "G-F" and "F-G"). However, for our purposes, we don't need to worry about this distinction, so we'll combine "G-F" and "F-G", and then "F-C" and "C-F" (there's really no such thing as a "G-C" in the NBA, nor in our data).

In [22]:
combine_careers.loc[combine_careers['Pos'] == 'F-C', 'Pos'] = 'C-F'
combine_careers.loc[combine_careers['Pos'] == 'F-G', 'Pos'] = 'G-F'
combine_careers.Pos.value_counts()

G      140
F      106
C-F     45
G-F     34
C       23
Name: Pos, dtype: int64

Let's write this dataset to CSV.

In [23]:
combine_careers.set_index('Player').to_csv('cc.csv')